.audio-player {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 14px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(124, 140, 255, 0.2);

  backdrop-filter: blur(6px);
}

.play-btn {
  width: 36px;
  height: 36px;

  border: none;
  border-radius: 50%;

  background: linear-gradient(90deg, #3A8DFF, #6F7CFF);
  color: white;
  font-size: 14px;

  cursor: pointer;
  transition: 0.25s ease;
}

.play-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 12px rgba(77, 166, 255, 0.5);
}

.play-btn:active {
  transform: scale(1);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 140px;
  height: 4px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4DA6FF;
  box-shadow: 0 0 6px rgba(77, 166, 255, 0.6);
  cursor: pointer;
}

.time {
  font-size: 12px;
  color: #b8c1ff;
  min-width: 70px;
  text-align: right;
}