* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND */
:host {
  display: block;
  min-height: 100vh;
  background: linear-gradient(180deg, #0d1117, #111827);
  color: #e6edf3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVBAR */
header {
  padding: 20px 40px;
  background: linear-gradient(180deg, #0d1117, #13264e);
  border-radius: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
nav img {
  height: 40px;
}

/* LINKS */
nav a {
  color: #e6edf3;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  transition: 0.2s;
}

nav a:hover {
  color: #1f6feb;
}

/* CONTAINER PRINCIPAL */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  text-align: center;
}

/* TÍTULO */
h1 {
  font-size: 2.2rem;
  margin-bottom: 30px;
  max-width: 500px;
  line-height: 1.3;
}

/* RESPONSIVIDADE */
@media (max-width: 500px) {
  h1 {
    font-size: 1.6rem;
  }

  input {
    width: 90%;
  }
}